extensions/claudeos-n8n/workflows/heartbeat.json
{
  "name": "ClaudeOS Heartbeat",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/5 * * * *"
            }
          ]
        }
      },
      "id": "8a5c4d3e-1b2a-4f5e-9d8c-7b6a5e4f3d2c",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:3000/api/health",
        "options": {}
      },
      "id": "9b6d5e4f-2c3b-5g6f-0e9d-8c7b6a5f4e3d",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/api/logs",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "level",
              "value": "={{ $json.statusCode === 200 ? 'info' : 'error' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.statusCode === 200 ? 'ClaudeOS kernel is healthy' : 'ClaudeOS kernel health check failed' }}"
            },
            {
              "name": "timestamp",
              "value": "={{ $now.toISO() }}"
            },
            {
              "name": "data",
              "value": "={{ $json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0c7e6f5g-3d4c-6h7g-1f0e-9d8c7b6a5f4e",
      "name": "Log Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        650,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Health Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Health Check": {
      "main": [
        [
          {
            "node": "Log Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCreatedBy": "ClaudeOS",
    "instanceId": "claudeos-default"
  },
  "id": "heartbeat",
  "tags": []
}
